{% extends 'base.html' %}

{% block content %}

  <div class="intro-2"> <span>Donec justo dui, pellentesque auctor condimentum eu, vulputate et ligula. Mauris ultrices ultricies est quis varius. Fusce vel purus metus, id semper arcu. Nunc quis venenatis diam. Donec justo dui, pellentesque auctor condimentum eu, vulputate et ligula. Mauris ultrices ultricies est quis varius. Fusce vel purus metus, id semper arcu. Nunc quis venenatis diam.</span> </div>
  <div class="one_third">
    <h3>Hey</h3>
    <p>In neque nulla, rutrum vitae faucibus id, tristique faucibus urna. Praesent semper pharetra mattis.</p>
    <br>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
  <div class="one_third">
    <h3>So...</h3>
    <p>In neque nulla, rutrum vitae faucibus id, tristique faucibus urna. Praesent semper pharetra mattis.</p>
    <br>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
  <div class="one_third column-last">
    <h3>Yeah!</h3>
    <p>In neque nulla, rutrum vitae faucibus id, tristique faucibus urna. Praesent semper pharetra mattis.</p>
    <br>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
  <div class="clear"></div>
  <div class="one_fourth">
    <h3>1/4</h3>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
  <div class="one_fourth">
    <h3>1/4</h3>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
  <div class="one_fourth">
    <h3>1/4</h3>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
  <div class="one_fourth column-last">
    <h3>1/4</h3>
    <p>Aliquam placerat rhoncus leo, sit amet tristique lorem aliquet fringilla. Ut tristique nisi tellus. Donec ut lacus vitae ipsum rhoncus convallis. Aliquam laoreet pharetra mi et pharetra.</p>
  </div>
{% endblock %}
